#header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 65px;
    margin-top: 20px;
    text-shadow: 2px 4px 4px rgba(16, 36, 136, 0.6);
    font-family: 'Anton', sans-serif;
    color: rgb(10, 56, 73);

}

#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../image/pxfuel.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

/*search bar, text and button styling and layout*/
#search-form {
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group input[type="text"] {
    width: 300px;
    margin-right: 10px;
}

#searchInput {
    width: 400px;
    margin-right: 10px;
}

/* styled cas about button */
#button {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: rgb(20, 107, 170);
    cursor: pointer;
    padding: 2.5%;
    width: 25%;
    border-radius: 45%;
    color: white;
    font-size: 16px;
}
#button:hover {
    color: rgb(0, 9, 11);
}

/*modal popup colour and styling*/
.reveal {
    background-color: #000000;
    border-radius: 15px;
    /*Rounded corners*/
}

/*The header within the modal*/
.reveal h1 {
    font-size: 2em;
    color: #dc3545;
}

/*The paragraph within the modal*/
.reveal p {
    font-size: 1.2em;
    color: #dc3545;
}

/*The close button*/
.reveal .close-button {
    top: 10px;
    right: 10px;
    color: #919191;
}

.reveal .close-button:hover {
    color: #dc3545;
}

.img-height {
    height: 253px;
    width: 253px;
}

/*modal popup colour and styling END*/

@media screen and (max-width: 640px) {
    .button {
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}