/* Header styling (title, search bar and search button layout) */
#header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header h1 {
    font-size: 65px;
    margin-top: 20px;
    text-shadow: 2px 4px 4px #ffff;
    font-family: 'Anton', sans-serif;
    color: #112e51;
}

/* Page backgroung styling */
#header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../image/pxfuel.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

/* search bar, text and button styling and layout */
#search-form {
    text-align: center;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group input[type="text"] {
    width: 300px;
    margin-right: 10px;
}

#searchInput {
    width: 400px;
    margin-right: 10px;
}

/* styled cas about button */
#button {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    background-color: #112e51;
    cursor: pointer;
    padding: 2.5%;
    width: 25%;
    border-radius: 45%;
    color: white;
    font-size: 16px;
}

#button:hover {
    background-color: #205493;
}

/*modal popup colour and styling*/
.reveal {
    background-color: #112e51;
    border-radius: 15px;
}

/*The header within the modal*/
.reveal h1 {
    font-size: 3em;
    color: #ffff;
}

/*The paragraph within the modal*/
.reveal p {
    font-size: 1.2em;
    color: #ffff
}

/*The close button*/
.reveal .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
    color: #205493;
    background-color: #ffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.reveal .close-button:hover {
    color: #ffff;
    background-color: #205493;
}

/* Modal styling for when a movie is searched for */
.img-height {
    height: 253px;
    width: 253px;
}


h2 {
    font-size: 2em;
    color: #ffff;
}

.actors-names {
    font-size: 1.5em;
    text-align: center;
    color: #ffff
    
}

.no-trailer {
    color: red;
    text-align: center;
}


@media screen and (max-width: 640px) {
    #button {
        margin-top: 10px;
        margin-right: auto;
        margin-left: auto;
    }
}